$TTL    604800
@       IN      SOA     b5r10u37.lab.com. root.lab.com. (
                              2         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      b5r10u37.lab.com.
@       IN      A       10.10.10.8
22      IN      PTR     b5r10u39.lab.com.
8       IN      PTR     b5r10u37.lab.com.
15      IN      PTR     b5r10u14.lab.com.
12      IN      PTR     b5r10u11.lab.com.
13      IN      PTR     b5r10u08.lab.com.

; This is the zone file for the lab.com domain