$TTL    604800
@       IN      SOA     infra.lab.com. root.lab.com. (
                              2         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      infra.lab.com.
@       IN      A       192.168.10.2
2       IN      PTR     infra.lab.com.
3       IN      PTR     master.lab.com.
4       IN      PTR     worker.lab.com.

; This is the zone file for the lab.com domain
