$TTL 604800     ; Default Time To Live
@       IN      SOA     b5r10u37.lab.com. admin.lab.com. (
              3           ; Serial
         604800           ; Refresh
          86400           ; Retry
        2419200           ; Expire
         604800 )         ; Negative Cache TTL
;
; Name servers
@       IN      NS      b5r10u37.lab.com.

; A records for domain hosts
b5r10u39 IN  A   10.10.10.22
b5r10u37 IN  A   10.10.10.8
b5r10u14 IN  A   10.10.10.15
b5r10u11 IN  A   10.10.10.12
b5r10u08 IN  A   10.10.10.13

; Cname records
masternode   CNAME  b5r10u39.lab.com.

; OpenShift Records
api.ocp         IN   A  10.10.10.22
api-int.ocp     IN   A  10.10.10.22
*.apps.ocp      IN   A  10.10.10.22
