options {
    directory "/var/named";
    listen-on port 53 { any; };
    allow-query { any; };
    recursion no;
    forwarders {
        8.8.8.8;
        8.8.4.4;
    };
};

zone "." IN {
    type hint;
    file "named.ca";
};

zone "{{ dns_forward_zone }}" IN {
    type master;
    file "{{ dns_forward_zone_file }}";
};

zone "{{ dns_reverse_zone }}" IN {
    type master;
    file "{{ dns_reverse_zone_file }}";
};

zone "localhost" IN {
    type master;
    file "named.localhost";
};

zone "0.0.127.in-addr.arpa" IN {
    type master;
    file "named.loopback";
};

